@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }

  body {
    @apply font-sans text-graphite-800 bg-ivory;
    margin: 0;
  }

  /* Mejora del input type=date en Safari */
  input[type="date"]::-webkit-calendar-picker-indicator {
    @apply opacity-50 cursor-pointer;
  }

  /* Scrollbar sutil */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-graphite-200 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-graphite-300;
  }

  /* Quita flechas del input number */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .bg-ivory {
    background-color: #f8f7f4;
  }
}
